body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url(./img/leaves.jpg);
    background-position: center;
    color: white;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
    font-family: "Dancing Script";
    margin: 0;
}

button {
    padding: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: 10%;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgba(12, 156, 12, 0.7);
    border: 1px solid white;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(12, 156, 12, 1);
}

.form-container {
    display: none;
    border: 3px solid green;
    background-color: white;
    position: fixed;
    color: black;
    top: 22%;
    left: 33%;
    z-index: 1;
    width: 500px;
    height: 400px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 25px;
}

form > label {
    padding-left: 1rem;
    color: rgb(94, 91, 91);
}

form > input {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    height: 1.25rem;
    width: 400px;
    border-radius: 10px;
    border: 1px solid green;
}

fieldset {
    border: none;
    color: rgb(94, 91, 91);
}

form > button {
    margin: 0 auto;
}

h3 {
    font-size: 1.75rem;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header img {
    margin-top: 2rem;
    margin-right: 2rem;
}

.cards-container {
    flex: 1;
    text-align: left;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin: 10px;
    row-gap: 30px;
    overflow: scroll;
}

.card {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 25px;
    color: black;
    width: 400px;
    height: 250px;
    padding-top: 1rem;
    padding-left: 1.5rem;
    overflow: auto;
    display: flex;
    justify-content: space-around;

}

h2 {
    font-size: 1.75rem;
}

p {
    font-size: 1.25rem;
}

.close-icon {
    width: 25px;
    height: 25px;
    margin-top: 1.25rem;
    margin-right: 1rem;
    opacity: 0.75;
    cursor: pointer;
}

footer {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
}

a {
    text-decoration: underline;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 133px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #969292;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}